

.hc {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60vw;
}	
.square {
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: solid 2px black;

}

.vc {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20vw;
}

.vc > .square {
	margin-bottom: 15px;
	margin-top:15px;
}

body {
	display: flex;
}
