body {
	margin: 0px;
	padding: 0px;
	background-image: url(Dawn_Patrol_-_MacBook_Wallpaper.jpg);
	background-size: cover;	
	background-repeat: no-repeat;
	height: 100vh;

}
#header {
	text-align: center;
	color: white;
	padding:30px;
}
#middle {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	justify-content: space-evenly;
	padding-top: 100px;
	color: #182257;
	font-size: 40px;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
}
.card {
	height: 300px;
	font-size: 20px;
}
h6 {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}