body {
	background-image: url(photo-1535578195295-f2329b3cdb8d.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: roboto;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
}
svg {
	margin-left: 70px;
}