body {
	background-color: #30302B;
	margin: 0px;
	font-family: Verdana;
}

img {
	width: 400px;
	height: 600px;
	border: solid 5px #5C5956;
	position: absolute;
	right: 30px;
	top: 70px;
	transition: all 0.4s;
}
img:hover{
	transform: scale(1.05);
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
 }
 li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
 }
 p {
 	color: white;
 	font-size: 20px;
 }
 #name {
 	position: absolute;
 	font-size: 50px;
 	left: 20px;
 	top: 10px;
}
div {
	position: absolute;
	bottom: 3px;
	left: 20px;
}
#attr {
	color: white;
	list-style-type: circle;
  	margin: 20px;
  	padding: 0px;
  	overflow: hidden;
}

.test:hover{
	background-color: #866C56;
	transform: scale(1.01);
}
.test {
	transition: all 0.1s;

}
.getknow {
	position: absolute;
 	font-size: 25px;
 	left: 20px;
 	top: 120px;
}
#pinfo {
	display: flex;
	top: 450px;
	right: 750px;
	font-size: 40px;
}
.getknow2 {
	position: absolute;
 	font-size: 20px;
 	left: 20px;
 	top: 160px;




